USE [master]
GO
/****** Object:  Database [Forum]    Script Date: 27.06.2016 11:43:14 ******/
CREATE DATABASE [Forum]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Forum', FILENAME = N'C:\Users\cer\Forum.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Forum_log', FILENAME = N'C:\Users\cer\Forum_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Forum].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Forum]
GO
/****** Object:  Table [dbo].[Avatar]    Script Date: 27.06.2016 11:43:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Avatar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Content] [varbinary](max) NOT NULL,
	[ContentType] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Avatar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Message]    Script Date: 27.06.2016 11:43:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Text] [nvarchar](1000) NOT NULL,
	[DateOfCreation] [date] NOT NULL,
 CONSTRAINT [PK_Message] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Role]    Script Date: 27.06.2016 11:43:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Section]    Script Date: 27.06.2016 11:43:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Section](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Section] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SectionTopic]    Script Date: 27.06.2016 11:43:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SectionTopic](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SectionId] [int] NOT NULL,
	[TopicId] [int] NOT NULL,
 CONSTRAINT [PK_SectionTopic] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Topic]    Script Date: 27.06.2016 11:43:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topic](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[DateOfCreation] [date] NOT NULL,
 CONSTRAINT [PK_Topic] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TopicMessage]    Script Date: 27.06.2016 11:43:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TopicMessage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TopicId] [int] NOT NULL,
	[MessageId] [int] NOT NULL,
 CONSTRAINT [PK_TopicMessage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 27.06.2016 11:43:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[PasswordHashCode] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Gender] [nvarchar](10) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[RegistrationDate] [date] NOT NULL,
	[AvatarId] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserMessage]    Script Date: 27.06.2016 11:43:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMessage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[MessageId] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 27.06.2016 11:43:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_UserRole] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserTopic]    Script Date: 27.06.2016 11:43:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTopic](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[TopicId] [int] NOT NULL,
 CONSTRAINT [PK_UserTopic] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Avatar] ON 

SET IDENTITY_INSERT [dbo].[Avatar] OFF
SET IDENTITY_INSERT [dbo].[Message] ON 

INSERT [dbo].[Message] ([Id], [Text], [DateOfCreation]) VALUES (1014, N'в Данной теме мы будем р/м базовые основы ООП', CAST(N'2016-06-24' AS Date))
INSERT [dbo].[Message] ([Id], [Text], [DateOfCreation]) VALUES (1015, N'1', CAST(N'2016-06-24' AS Date))
INSERT [dbo].[Message] ([Id], [Text], [DateOfCreation]) VALUES (1016, N' 2', CAST(N'2016-06-24' AS Date))
SET IDENTITY_INSERT [dbo].[Message] OFF
INSERT [dbo].[Role] ([Id], [Name]) VALUES (1, N'user')
INSERT [dbo].[Role] ([Id], [Name]) VALUES (2, N'admin')
INSERT [dbo].[Role] ([Id], [Name]) VALUES (3, N'blacklisted')
SET IDENTITY_INSERT [dbo].[Section] ON 

INSERT [dbo].[Section] ([Id], [Name]) VALUES (1, N'Введение в объектно-ориентированное программирование и классы')
INSERT [dbo].[Section] ([Id], [Name]) VALUES (2, N'Хранение данных внутри программы')
SET IDENTITY_INSERT [dbo].[Section] OFF
SET IDENTITY_INSERT [dbo].[SectionTopic] ON 

INSERT [dbo].[SectionTopic] ([Id], [SectionId], [TopicId]) VALUES (1009, 1, 1010)
SET IDENTITY_INSERT [dbo].[SectionTopic] OFF
SET IDENTITY_INSERT [dbo].[Topic] ON 

INSERT [dbo].[Topic] ([Id], [Name], [DateOfCreation]) VALUES (1010, N'Принципы ООП', CAST(N'2016-06-24' AS Date))
SET IDENTITY_INSERT [dbo].[Topic] OFF
SET IDENTITY_INSERT [dbo].[TopicMessage] ON 

INSERT [dbo].[TopicMessage] ([Id], [TopicId], [MessageId]) VALUES (1013, 1010, 1014)
INSERT [dbo].[TopicMessage] ([Id], [TopicId], [MessageId]) VALUES (1014, 1010, 1015)
INSERT [dbo].[TopicMessage] ([Id], [TopicId], [MessageId]) VALUES (1015, 1010, 1016)
SET IDENTITY_INSERT [dbo].[TopicMessage] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Login], [PasswordHashCode], [Name], [Gender], [DateOfBirth], [RegistrationDate], [AvatarId]) VALUES (6, N'admin', 1849190365, N'admin', N'man', CAST(N'2016-06-09' AS Date), CAST(N'2016-06-18' AS Date), 6)
INSERT [dbo].[User] ([Id], [Login], [PasswordHashCode], [Name], [Gender], [DateOfBirth], [RegistrationDate], [AvatarId]) VALUES (7, N'black', 1849190365, N'black', N'man', CAST(N'2016-06-10' AS Date), CAST(N'2016-06-21' AS Date), NULL)
INSERT [dbo].[User] ([Id], [Login], [PasswordHashCode], [Name], [Gender], [DateOfBirth], [RegistrationDate], [AvatarId]) VALUES (1008, N'and', 1849190365, N'and', N'man', CAST(N'2016-06-14' AS Date), CAST(N'2016-06-24' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
SET IDENTITY_INSERT [dbo].[UserMessage] ON 

INSERT [dbo].[UserMessage] ([Id], [UserId], [MessageId]) VALUES (1008, 6, 1014)
INSERT [dbo].[UserMessage] ([Id], [UserId], [MessageId]) VALUES (1009, 6, 1015)
INSERT [dbo].[UserMessage] ([Id], [UserId], [MessageId]) VALUES (1010, 6, 1016)
SET IDENTITY_INSERT [dbo].[UserMessage] OFF
SET IDENTITY_INSERT [dbo].[UserRole] ON 

INSERT [dbo].[UserRole] ([Id], [UserId], [RoleId]) VALUES (1, 6, 2)
INSERT [dbo].[UserRole] ([Id], [UserId], [RoleId]) VALUES (2, 6, 1)
INSERT [dbo].[UserRole] ([Id], [UserId], [RoleId]) VALUES (3, 7, 1)
SET IDENTITY_INSERT [dbo].[UserRole] OFF
SET IDENTITY_INSERT [dbo].[UserTopic] ON 

INSERT [dbo].[UserTopic] ([Id], [UserId], [TopicId]) VALUES (1002, 6, 1010)
SET IDENTITY_INSERT [dbo].[UserTopic] OFF
ALTER TABLE [dbo].[SectionTopic]  WITH CHECK ADD  CONSTRAINT [FK_SectionTopic_Section] FOREIGN KEY([SectionId])
REFERENCES [dbo].[Section] ([Id])
GO
ALTER TABLE [dbo].[SectionTopic] CHECK CONSTRAINT [FK_SectionTopic_Section]
GO
ALTER TABLE [dbo].[SectionTopic]  WITH CHECK ADD  CONSTRAINT [FK_SectionTopic_Topic] FOREIGN KEY([TopicId])
REFERENCES [dbo].[Topic] ([Id])
GO
ALTER TABLE [dbo].[SectionTopic] CHECK CONSTRAINT [FK_SectionTopic_Topic]
GO
ALTER TABLE [dbo].[TopicMessage]  WITH CHECK ADD  CONSTRAINT [FK_TopicMessage_Message] FOREIGN KEY([MessageId])
REFERENCES [dbo].[Message] ([Id])
GO
ALTER TABLE [dbo].[TopicMessage] CHECK CONSTRAINT [FK_TopicMessage_Message]
GO
ALTER TABLE [dbo].[TopicMessage]  WITH CHECK ADD  CONSTRAINT [FK_TopicMessage_Topic] FOREIGN KEY([TopicId])
REFERENCES [dbo].[Topic] ([Id])
GO
ALTER TABLE [dbo].[TopicMessage] CHECK CONSTRAINT [FK_TopicMessage_Topic]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Avatar] FOREIGN KEY([AvatarId])
REFERENCES [dbo].[Avatar] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Avatar]
GO
ALTER TABLE [dbo].[UserMessage]  WITH CHECK ADD  CONSTRAINT [FK_UserMessage_Message] FOREIGN KEY([MessageId])
REFERENCES [dbo].[Message] ([Id])
GO
ALTER TABLE [dbo].[UserMessage] CHECK CONSTRAINT [FK_UserMessage_Message]
GO
ALTER TABLE [dbo].[UserMessage]  WITH CHECK ADD  CONSTRAINT [FK_UserMessage_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[UserMessage] CHECK CONSTRAINT [FK_UserMessage_User]
GO
ALTER TABLE [dbo].[UserTopic]  WITH CHECK ADD  CONSTRAINT [FK_UserTopic_Topic] FOREIGN KEY([TopicId])
REFERENCES [dbo].[Topic] ([Id])
GO
ALTER TABLE [dbo].[UserTopic] CHECK CONSTRAINT [FK_UserTopic_Topic]
GO
ALTER TABLE [dbo].[UserTopic]  WITH CHECK ADD  CONSTRAINT [FK_UserTopic_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[UserTopic] CHECK CONSTRAINT [FK_UserTopic_User]
GO
/****** Object:  StoredProcedure [dbo].[Avatar_Add]    Script Date: 27.06.2016 11:43:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[Avatar_Add]
	@Content varbinary(MAX), @ContentType nvarchar(50)
AS
BEGIN
INSERT INTO dbo.Avatar (Content, ContentType) VALUES (@Content, @ContentType)
SELECT SCOPE_IDENTITY()
END

GO
/****** Object:  StoredProcedure [dbo].[Message_Add]    Script Date: 27.06.2016 11:43:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE  [dbo].[Message_Add]
	@Text nvarchar(1000), @DateOfCreation date
AS
BEGIN
INSERT INTO dbo.Message(Text, DateOfCreation) VALUES (@Text, @DateOfCreation)
SELECT SCOPE_IDENTITY()
END

GO
/****** Object:  StoredProcedure [dbo].[Topic_Add]    Script Date: 27.06.2016 11:43:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[Topic_Add]
	@Name nvarchar(50), @DateOfCreation date
AS
BEGIN
INSERT INTO dbo.Topic (Name, DateOfCreation) VALUES (@Name, @DateOfCreation)
SELECT SCOPE_IDENTITY()
END

GO
USE [master]
GO
